.star
  = link_to articles_star_path(:article_id => article.id), :id => 'star-link', :class => 'star-link', :method => :post, :remote => true do
    = article.starred? ? image_tag('star-gold24.png') : image_tag('star-white24.png')