/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

#main-container{
  margin-top: 50px;
}
.userthumb{
  margin-top: 7px;
}
.centered{
  text-align: center;
}
.right-align{
  text-align: right;
}
.left-align{
  text-align: left;
}
.page-actions{
  margin-top: 10px;
  padding: 10px 0px 5px;
}
.mbottom{
  margin-bottom: 5px !important;
}
.table-bordered{
  margin-top: 20px;
}
.inline{
  display: inline;
}
label.inline{
  margin-left: 5px;
  margin-top: 5px;
}
#left-sidebar{
  /*margin-top: 70px;*/
}
footer{
  color: #aaa;
}